.gameContainer {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  /* z-index: -2000; */
}

.game-column {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  /* z-index: -15; */
}

.selection-box {
  width: 150px;
  height: 40px;
  background: cornflowerblue;
}

[data-row] {
  display: flex;
  flex-flow: column-reverse;
  justify-content: flex-start;
  align-items: center;
  width: 150px;
  height: 200px;
  margin:  0 25px;
  border: 1px solid lightgray;
}

/* .row {
  z-index: 10;
} */

[data-row].red {
  background-color: #f6c5c5;
}

[data-row].yellow {
  background-color: #ffffa9;
}

[data-row].green {
  background-color: #baf6ba;
}

[data-row].blue {
  background-color: aliceblue;
}

.stone {
  z-index: 10;
  border-radius: 5px;
}

.selectedStone {
  margin-bottom: 50px;
}

[data-color] {
  width: 25px;
  float: left;
}

[data-color="blue"] {
  height: 25px;
  width: 30%;
  background-color: blue;
}

[data-color="green"] {
  height: 30px;
  width: 55%;
  background-color: green;
}

[data-color="red"] {
  height: 35px;
  width: 70%;
  background-color: red;
}

[data-color="yellow"] {
  height: 40px;
  width: 85%;
  background-color: yellow;
}

#announce-game-won {
  font-size: 50px;
  text-align: center;
}
